<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633597826970-c1m6sd14bk7ehaaba6boa736oc844e41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633597826970-c1m6sd14bk7ehaaba6boa736oc844e41</string>
	<key>API_KEY</key>
	<string>AIzaSyAvTmKluqnt9rs-x5UW8qhHLX2t-xGb8Ew</string>
	<key>GCM_SENDER_ID</key>
	<string>633597826970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nouf.Yumn</string>
	<key>PROJECT_ID</key>
	<string>yumn-ef8c0</string>
	<key>STORAGE_BUCKET</key>
	<string>yumn-ef8c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633597826970:ios:7215077e47d647a7f5cc23</string>
</dict>
</plist>